<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGameServer" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/WCFtest" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IGameServer" contract="ServiceReference1.IGameServer"
                name="BasicHttpBinding_IGameServer" />
        </client>
    </system.serviceModel>
</configuration>